{% load staticfiles %}
<html lang="pt-br">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <link rel="shortcut icon" type="image/png" href="{% static 'img/icon.png' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{% static 'css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="{% static 'css/materialize.min.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <script src="{% static 'js/vue.min.js'%}"></script>
    <script src="{% static 'js/axios.min.js'%}"></script>
    <title>Questões</title>
</head>

<body>

<nav class="cyan darken-4" role="navigation">
    <a href="/" class="brand-logo center">Questões</a>
</nav>

<div class="container">
    {% block content %}
    {% endblock %}
</div>

<script src="{% static 'js/jquery-2.1.1.min.js' %}"></script>
<script src="{% static 'js/materialize.js' %}"></script>

</body>

</html>